@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Clinic_Management_System.Models.Schedule>

    @{
        ViewData["Title"] = "Scheduleinfo";
    }
    @using (Html.BeginForm("Scheduleinfo", "Home", FormMethod.Post))
    {
        <style>
            body {
                background-image: url("/image/Schedule.jpg");
                background-size: cover;
            }
        </style>
        <body>
            <img src="~/image/StoneClinicLogo.png" alt="Logoimg" align="right" height="100" width="100" />
            <table class="table" align="center">
                <tr>
                    <th>
                        @Html.DisplayName("PatientID");
                    </th>
                    <th>
                        @Html.DisplayName("Specialization");
                    </th>
                    <th>
                        @Html.DisplayName("Docter");
                    </th>
                    <th>
                        @Html.DisplayName("VisitDate");
                    </th>
                    <th>
                        @Html.DisplayName("AppointmentTime");
                    </th>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatientID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Specialization)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Docter)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VisitDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppointmentTime)
                            </td>
                        </tr>
                    }
                </tbody>
                <tr>
                    <td>
                        <input type="submit" value="Home" asp-action="Home" asp-controller="Home" />
                    </td>
                </tr>
            </table>

        </body>
    }


